In [42]:
#Naive Bayes Algo Spam Filter
#Importing packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [43]:
#Importing data and testing it
spam_data = pd.read_csv(r'C:\Users\Ahmed\Desktop\Intelligent Systems\PROJECT\spam2.csv')
print(spam_data)
spam_data

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [44]:
#Viewing and grouping the data
spam_data.groupby('spam').describe()

      text
     count unique                                                top freq
spam
0     4360   4327  Subject: * special notification * aurora versi...    2
1     1368   1368  Subject: naturally irresistible your corporate...    1

In [45]:
#as spam and non spam came as zero's and ones we need to categorise them, 
spam_data['class'] = spam_data['spam'].apply(lambda x: 'spam' if x == '1' else 'ham')

In [46]:
spam_data

                                                   text  spam class
0     Subject: naturally irresistible your corporate...     1   ham
1     Subject: the stock trading gunslinger  fanny i...     1   ham
2     Subject: unbelievable new homes made easy  im ...     1   ham
3     Subject: 4 color printing special  request add...     1   ham
4     Subject: do not have money , get software cds ...     1   ham
...                                                 ...   ...   ...
5723  Subject: re : research and development charges...     0   ham
5724  Subject: re : receipts from visit  jim ,  than...     0   ham
5725  Subject: re : enron case study update  wow ! a...     0   ham
5726  Subject: re : interest  david ,  please , call...     0   ham
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0   ham

[5728 rows x 3 columns]

In [47]:
#creating test and training
x_train, x_test, y_train, y_test = train_test_split(spam_data.text, spam_data.spam)

In [48]:
#inspecting each set, it splits the total data items by the 4 test and training variables
#(4360+1368)/4 = 1432
x_train.describe()
x_test.describe()
y_train.describe()
y_test.describe()

count    1432.000000
mean        0.231145
std         0.421712
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: spam, dtype: float64

In [49]:
#Next step tofind word counts and to store it
#Count vectorizer gets the word count and fit_transorm transforms the characters into a matrix
cv = CountVectorizer()
x_train_count = cv.fit_transform(x_train.values)

In [50]:
#Inspecting the count - there are 4296 columns and 32667 unique words across all the emails
x_train_count

<4296x32794 sparse matrix of type '<class 'numpy.int64'>'
	with 535901 stored elements in Compressed Sparse Row format>

In [51]:
#Training dataset
dataset = MultinomialNB()
dataset.fit(x_train_count, y_train) # Training the x_train_count (word count) features against the y_train data, y_train does not need a count as 
                                    # the emails have been divided into 0's and 1's or spam and not spam

MultinomialNB()

In [52]:
#Simple testing - non-spam
e_ham = ["hey want to watch the football"]
e_ham_count = cv.transform(e_ham)
dataset.predict(e_ham_count)

array([1], dtype=int64)

In [53]:
#Simple testing - spam
e_spam = ["stock homes"]
e_spam_count = cv.transform(e_spam)
dataset.predict(e_spam_count)

array([1], dtype=int64)

In [54]:
x_test_count = cv.transform(x_test)
dataset.score(x_test_count, y_test)

0.9937150837988827

In [55]:
#TESTINGTHE ALGO
msg = "you up for some work over the weekend pal"
data = [msg]
vect = cv.transform(data).toarray()
result=dataset.predict(vect)
print(result)

[0]

In [56]:
#TESTINGTHE ALGO
msg = "txt us for free money at 0884500349"
data = [msg]
vect = cv.transform(data).toarray()
result=dataset.predict(vect)
print(result)

[1]

In [58]:
#TESTINGTHE ALGO
msg = "bank password free"
data = [msg]
vect = cv.transform(data).toarray()
result=dataset.predict(vect)
print(result)

[1]

In [59]:
#TESTINGTHE ALGO
msg = "stock homes"
data = [msg]
vect = cv.transform(data).toarray()
result=dataset.predict(vect)
print(result)

[1]

In [60]:

#TESTINGTHE ALGO
msg = "hey want to watch the football"
data = [msg]
vect = cv.transform(data).toarray()
result=dataset.predict(vect)
print(result)

[1]